<po-page-default p-title="Sobre a Premier League">
    <div class="po-row">
        <p class="po-xl-6 po-lg-6 po-md-12 po-sm-12">Premier League (em português: Primeira Liga) é uma liga
            profissional de futebol do Reino Unido e está no topo do
            sistema de ligas do futebol inglês, sendo a principal competição de futebol da nação insular.
            <br>
            É disputada por vinte clubes no sistema de pontos corridos, em que no final de cada temporada os quatro
            melhores
            colocados participam da Liga dos Campeões da UEFA, e os três piores são rebaixados para a EFL Championship,
            dando lugar aos três melhores desta competição. Cada temporada decorre entre agosto e maio, tendo 38 rodadas
            com
            dez partidas cada, totalizando 380 partidas em toda a temporada. A maioria dos jogos são disputados durante
            o
            período da tarde nos sábados e domingos e algumas vezes durante a noite no meio da semana.
        </p>
    </div>
</po-page-default>