<po-page-list #poPageList p-title="Artilheiros da temporada" [p-filter]="filterSettings">
    <!--<div class="po-row po-mb-md-5">
        <h1 class="po-page-header-title">Artilheiros da temporada</h1>
        <po-button p-label="Adicionar" class="po-ml-md-5 po-mt-md-1" [p-small]="true" routerLink="edit"></po-button>
    </div>-->
    <po-table [p-sort]="true" [p-items]="searchingArtilheirosFiltered" [p-striped]="true" [p-columns]="searchingArtilheirosColumns" [p-infinite-scroll]="true" [p-height]="500"></po-table>
</po-page-list>